.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 0px;
  grid-auto-flow: row;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

.selector {
  grid-area: 2 / 1 / 3 / 2;
}

.preview {
  grid-area: 3 / 1 / 4 / 2;
}

/* TITLE 0 ---------------------- */

.pageTitleRoot {
  width: 100%;
  height: auto;
  font-family: "Roboto", serif;
  text-align: center;
  padding: 1em;

  background: black;
  color: white;
}

.intro {
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.1;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.title {
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.1;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.description {
  text-transform: initial;
  font-style: initial;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.08em;
}

.revealFromDownside {
  animation-duration: 2800ms;
  animation-delay: 100ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
  animation-name: revealFromDownside;
}

.revealFromUpside {
  animation-duration: 2000ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
  animation-name: revealFromUpside;
}

@keyframes revealFromDownside {
  0% {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
  }
}

@keyframes revealFromUpside {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  }

  100% {
    clip-path: polygon(0% 0%, 200% 0%, 0% 200%);
  }
}

/* TITLE 1 ---------------------- */

/* SELECTOR 0 ------------------- */

.jobSelectorRoot {
  width: 100%;
  height: 45px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;

  background: black;
}

.jobSelectorButton {
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease;
}

.jobSelectorButton:hover {
  color: white;
}

.jobSelectorIsActive {
  color: white;
}

/* SELECTOR 0 ------------------- */

/* PREVIEW CONTENT 1 ------------------- */

.jobPreview {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.revealWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.show {
  clip-path: polygon(100% 0%, 100% 200%, -100% 0%);
  animation-name: rOn;
}

.hide {
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
  animation-name: rOff;
}

.aOn {
  animation-duration: 900ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.aOff {
  animation-duration: 600ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes rOn {
  0% {
    clip-path: polygon(100% 0%, 100% 0%, 100% 0%);
  }
  100% {
    clip-path: polygon(100% 0%, 100% 200%, -100% 0%);
  }
}

@keyframes rOff {
  0% {
    clip-path: polygon(0% 100%, 0% -100%, 200% 100%);
  }
  100% {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
  }
}

/* PREVIEW CONTENT 0 ------------------- */

/* JOB TITLE 1 ------------------- */

.jobTitleRoot {
  padding: 10px 20px;
  width: 520px;
  color: white;
  text-shadow: 1px 1px 2px black;
  line-height: 1.3;
  letter-spacing: 1;
  opacity: 1;
  transition: opacity 0.5 ease;
}

.jobTitle {
  font-size: 60px;
}

.jobDescription {
  font-size: 14px;
}

/* JOB TITLE 0 ------------------- */

/* SKILL SHOW 1 ------------------- */

.rootSkill {
  /* position: absolute; */
  right: 0;
  height: auto;
  width: 520px;
  max-width: 520px;
  min-width: 520px;

  color: #ddd;
  background: #121212;
}

.topSkill {
  padding: 0.5em;
  display: flex;
  gap: 5px;
}

.botSkill {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.colLeft {
}

.colRight {
  text-shadow: 1px 1px 2px black;
  line-height: 1.3;
  letter-spacing: 1;
  opacity: 1;
}

.colRight > p:nth-child(1) {
  color: white;
  font-size: 22px;
}

.colRight > p:nth-child(2) {
  font-size: 18px;
}

.rootSkill > img {
  height: 100px;
  width: 100px;
}

/* SKILL SHOW 0 ------------------- */

/* SPELL SELECTOR 1 ------------------- */

.spellSelector {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/* SPELL SELECTOR 0 ------------------- */

/* SPELL SELECTOR 1 ------------------- */

.championBackground {
  position: absolute;
  height: 100%;
  width: 100%;
}

.championFigure {
  position: absolute;
  height: 100%;
  width: 100%;
}

.championImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.championImageChar {
  position: absolute;
  left: 10%;
  height: 100%;
}

/* SPELL SELECTOR 0 ------------------- */

.cardSkill {
  height: 70px;
  width: 70px;
  cursor: pointer;
  transition: filter 0.2s ease;
  filter: saturate(0);
}

.cardSkill:hover {
  filter: saturate(1);
}

.cardSkillActive {
  filter: saturate(1);
}
